@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gradient-border {

  border-width: 1px; /* Adjust the border width as needed */
  border-style: solid;
  border-image: linear-gradient(to right, #c79256, #3c76c7); /* Adjust gradient colors */
  border-image-slice: 1; /* Make the whole border area covered by the gradient */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.resumesBtn{
  border-radius: 44% 56% 70% 30% / 64% 45% 55% 36% ;
}
